This notebook uses the [GapMinder data set](https://www.gapminder.org)

In [1]:
import pandas as pd
data = pd.read_csv("data/gapminder.tsv", sep='\t')
data.head() # show five entries

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Using multi-indexing, answer the following questions
- Select data about countries in Asia 
- Select data about countries in Asia in years 1952 to 2000
- What is the average `pop` of countries in Asia in years 1952 to 2000

In [4]:
data1=data.set_index('continent')
data1.loc['Asia']

                      country  year  lifeExp       pop     gdpPercap
continent
Asia              Afghanistan  1952   28.801   8425333    779.445314
Asia              Afghanistan  1957   30.332   9240934    820.853030
Asia              Afghanistan  1962   31.997  10267083    853.100710
Asia              Afghanistan  1967   34.020  11537966    836.197138
Asia              Afghanistan  1972   36.088  13079460    739.981106
Asia              Afghanistan  1977   38.438  14880372    786.113360
Asia              Afghanistan  1982   39.854  12881816    978.011439
Asia              Afghanistan  1987   40.822  13867957    852.395945
Asia              Afghanistan  1992   41.674  16317921    649.341395
Asia              Afghanistan  1997   41.763  22227415    635.341351
Asia              Afghanistan  2002   42.129  25268405    726.734055
Asia              Afghanistan  2007   43.828  31889923    974.580338
Asia                  Bahrain  1952   50.939    120447   9867.084765
Asia                  Bahrain  1957   53.832    138655  11635.799450
Asia                  Bahrain  1962   56.923    171863  12753.275140
Asia                  Bahrain  1967   59.923    202182  14804.672700
Asia                  Bahrain  1972   63.300    230800  18268.658390
Asia                  Bahrain  1977   65.593    297410  19340.101960
Asia                  Bahrain  1982   69.052    377967  19211.147310
Asia                  Bahrain  1987   70.750    454612  18524.024060
Asia                  Bahrain  1992   72.601    529491  19035.579170
Asia                  Bahrain  1997   73.925    598561  20292.016790
Asia                  Bahrain  2002   74.795    656397  23403.559270
Asia                  Bahrain  2007   75.635    708573  29796.048340
Asia               Bangladesh  1952   37.484  46886859    684.244172
Asia               Bangladesh  1957   39.348  51365468    661.637458
Asia               Bangladesh  1962   41.216  56839289    686.341554
Asia               Bangladesh  1967   43.453  62821884    721.186086
Asia               Bangladesh  1972   45.252  70759295    630.233627
Asia               Bangladesh  1977   46.923  80428306    659.877232
...                       ...   ...      ...       ...           ...
Asia                  Vietnam  1982   58.816  56142181    707.235786
Asia                  Vietnam  1987   62.820  62826491    820.799445
Asia                  Vietnam  1992   67.662  69940728    989.023149
Asia                  Vietnam  1997   70.672  76048996   1385.896769
Asia                  Vietnam  2002   73.017  80908147   1764.456677
Asia                  Vietnam  2007   74.249  85262356   2441.576404
Asia       West Bank and Gaza  1952   43.160   1030585   1515.592329
Asia       West Bank and Gaza  1957   45.671   1070439   1827.067742
Asia       West Bank and Gaza  1962   48.127   1133134   2198.956312
Asia       West Bank and Gaza  1967   51.631   1142636   2649.715007
Asia       West Bank and Gaza  1972   56.532   1089572   3133.409277
Asia       West Bank and Gaza  1977   60.765   1261091   3682.831494
Asia       West Bank and Gaza  1982   64.406   1425876   4336.032082
Asia       West Bank and Gaza  1987   67.046   1691210   5107.197384
Asia       West Bank and Gaza  1992   69.718   2104779   6017.654756
Asia       West Bank and Gaza  1997   71.096   2826046   7110.667619
Asia       West Bank and Gaza  2002   72.370   3389578   4515.487575
Asia       West Bank and Gaza  2007   73.422   4018332   3025.349798
Asia              Yemen, Rep.  1952   32.548   4963829    781.717576
Asia              Yemen, Rep.  1957   33.970   5498090    804.830455
Asia              Yemen, Rep.  1962   35.180   6120081    825.623201
Asia              Yemen, Rep.  1967   36.984   6740785    862.442146
Asia              Yemen, Rep.  1972   39.848   7407075   1265.047031
Asia              Yemen, Rep.  1977   44.175   8403990   1829.765177
Asia              Yemen, Rep.  1982   49.113   9657618   1977.557010
Asia              Yemen, Rep.  1987   52.922  11219340   1971.741538
Asia              Yemen, Rep.  1992   55.599  13367997   1879.496673
Asia              Yemen, Rep.  1997   58.020  15826497   2117.484526
Asia              Yemen, Rep.  2002   60.308  18701257   2234.820827
Asia              Yemen, Rep.  2007   62.698  22211743   2280.769906

[396 rows x 5 columns]

In [10]:
idx = pd.IndexSlice
# to slice the MultiIndex, it has to be sorted
data2=data.sort_values(['continent', 'year']).set_index(['continent', 'year'])
data2.loc[idx['Asia', 1952:2000], :]

                           country  lifeExp         pop      gdpPercap
continent year
Asia      1952         Afghanistan   28.801     8425333     779.445314
          1952             Bahrain   50.939      120447    9867.084765
          1952          Bangladesh   37.484    46886859     684.244172
          1952            Cambodia   39.417     4693836     368.469286
          1952               China   44.000   556263527     400.448611
          1952    Hong Kong, China   60.960     2125900    3054.421209
          1952               India   37.373   372000000     546.565749
          1952           Indonesia   37.468    82052000     749.681655
          1952                Iran   44.869    17272000    3035.326002
          1952                Iraq   45.320     5441766    4129.766056
          1952              Israel   65.390     1620914    4086.522128
          1952               Japan   63.030    86459025    3216.956347
          1952              Jordan   43.158      607914    1546.907807
          1952    Korea, Dem. Rep.   50.056     8865488    1088.277758
          1952         Korea, Rep.   47.453    20947571    1030.592226
          1952              Kuwait   55.565      160000  108382.352900
          1952             Lebanon   55.928     1439529    4834.804067
          1952            Malaysia   48.463     6748378    1831.132894
          1952            Mongolia   42.244      800663     786.566857
          1952             Myanmar   36.319    20092996     331.000000
          1952               Nepal   36.157     9182536     545.865723
          1952                Oman   37.578      507833    1828.230307
          1952            Pakistan   43.436    41346560     684.597144
          1952         Philippines   47.752    22438691    1272.880995
          1952        Saudi Arabia   39.875     4005677    6459.554823
          1952           Singapore   60.396     1127000    2315.138227
          1952           Sri Lanka   57.593     7982342    1083.532030
          1952               Syria   45.883     3661549    1643.485354
          1952              Taiwan   58.500     8550362    1206.947913
          1952            Thailand   50.848    21289402     757.797418
...                            ...      ...         ...            ...
          1997            Cambodia   56.534    11782962     734.285170
          1997               China   70.426  1230075000    2289.234136
          1997    Hong Kong, China   80.000     6495918   28377.632190
          1997               India   61.765   959000000    1458.817442
          1997           Indonesia   66.041   199278000    3119.335603
          1997                Iran   68.042    63327987    8263.590301
          1997                Iraq   58.811    20775703    3076.239795
          1997              Israel   78.269     5531387   20896.609240
          1997               Japan   80.690   125956499   28816.584990
          1997              Jordan   69.772     4526235    3645.379572
          1997    Korea, Dem. Rep.   67.727    21585105    1690.756814
          1997         Korea, Rep.   74.647    46173816   15993.527960
          1997              Kuwait   76.156     1765345   40300.619960
          1997             Lebanon   70.265     3430388    8754.963850
          1997            Malaysia   71.938    20476091   10132.909640
          1997            Mongolia   63.625     2494803    1902.252100
          1997             Myanmar   60.328    43247867     415.000000
          1997               Nepal   59.426    23001113    1010.892138
          1997                Oman   72.499     2283635   19702.055810
          1997            Pakistan   61.818   135564834    2049.350521
          1997         Philippines   68.564    75012988    2536.534925
          1997        Saudi Arabia   70.533    21229759   20586.690190
          1997           Singapore   77.158     3802309   33519.476600
          1997           Sri Lanka   70.457    18698655    2664.477257
          1997               Syria   71.527    15081016    4014.238972
          1997              Taiwan   75.250    21628605   20206.820980
          1997            Thailand   67.521    60216677    5852.625497
          1997             Vietnam   70.672    76048996    1385.896769
          1997  West Bank and Gaza   71.096     2826046    7110.667619
          1997         Yemen, Rep.   58.020    15826497    2117.484526

[330 rows x 4 columns]

In [11]:
_['pop'].mean()

69980539.0030303

## Same operations using masking

In [14]:
data[data['continent']=='Asia']

                 country continent  year  lifeExp       pop     gdpPercap
0            Afghanistan      Asia  1952   28.801   8425333    779.445314
1            Afghanistan      Asia  1957   30.332   9240934    820.853030
2            Afghanistan      Asia  1962   31.997  10267083    853.100710
3            Afghanistan      Asia  1967   34.020  11537966    836.197138
4            Afghanistan      Asia  1972   36.088  13079460    739.981106
5            Afghanistan      Asia  1977   38.438  14880372    786.113360
6            Afghanistan      Asia  1982   39.854  12881816    978.011439
7            Afghanistan      Asia  1987   40.822  13867957    852.395945
8            Afghanistan      Asia  1992   41.674  16317921    649.341395
9            Afghanistan      Asia  1997   41.763  22227415    635.341351
10           Afghanistan      Asia  2002   42.129  25268405    726.734055
11           Afghanistan      Asia  2007   43.828  31889923    974.580338
84               Bahrain      Asia  1952   50.939    120447   9867.084765
85               Bahrain      Asia  1957   53.832    138655  11635.799450
86               Bahrain      Asia  1962   56.923    171863  12753.275140
87               Bahrain      Asia  1967   59.923    202182  14804.672700
88               Bahrain      Asia  1972   63.300    230800  18268.658390
89               Bahrain      Asia  1977   65.593    297410  19340.101960
90               Bahrain      Asia  1982   69.052    377967  19211.147310
91               Bahrain      Asia  1987   70.750    454612  18524.024060
92               Bahrain      Asia  1992   72.601    529491  19035.579170
93               Bahrain      Asia  1997   73.925    598561  20292.016790
94               Bahrain      Asia  2002   74.795    656397  23403.559270
95               Bahrain      Asia  2007   75.635    708573  29796.048340
96            Bangladesh      Asia  1952   37.484  46886859    684.244172
97            Bangladesh      Asia  1957   39.348  51365468    661.637458
98            Bangladesh      Asia  1962   41.216  56839289    686.341554
99            Bangladesh      Asia  1967   43.453  62821884    721.186086
100           Bangladesh      Asia  1972   45.252  70759295    630.233627
101           Bangladesh      Asia  1977   46.923  80428306    659.877232
...                  ...       ...   ...      ...       ...           ...
1650             Vietnam      Asia  1982   58.816  56142181    707.235786
1651             Vietnam      Asia  1987   62.820  62826491    820.799445
1652             Vietnam      Asia  1992   67.662  69940728    989.023149
1653             Vietnam      Asia  1997   70.672  76048996   1385.896769
1654             Vietnam      Asia  2002   73.017  80908147   1764.456677
1655             Vietnam      Asia  2007   74.249  85262356   2441.576404
1656  West Bank and Gaza      Asia  1952   43.160   1030585   1515.592329
1657  West Bank and Gaza      Asia  1957   45.671   1070439   1827.067742
1658  West Bank and Gaza      Asia  1962   48.127   1133134   2198.956312
1659  West Bank and Gaza      Asia  1967   51.631   1142636   2649.715007
1660  West Bank and Gaza      Asia  1972   56.532   1089572   3133.409277
1661  West Bank and Gaza      Asia  1977   60.765   1261091   3682.831494
1662  West Bank and Gaza      Asia  1982   64.406   1425876   4336.032082
1663  West Bank and Gaza      Asia  1987   67.046   1691210   5107.197384
1664  West Bank and Gaza      Asia  1992   69.718   2104779   6017.654756
1665  West Bank and Gaza      Asia  1997   71.096   2826046   7110.667619
1666  West Bank and Gaza      Asia  2002   72.370   3389578   4515.487575
1667  West Bank and Gaza      Asia  2007   73.422   4018332   3025.349798
1668         Yemen, Rep.      Asia  1952   32.548   4963829    781.717576
1669         Yemen, Rep.      Asia  1957   33.970   5498090    804.830455
1670         Yemen, Rep.      Asia  1962   35.180   6120081    825.623201
1671         Yemen, Rep.      Asia  1967   36.984   6740785    862.442146
1672         Yemen, Rep.      Asia  1972   39.848   7407075   1265.047031
1673         Yemen, Rep.      Asia  1977   44.175   8403990   1829.765177
1674         Yemen, Rep.      Asia  1982   49.113   9657618   1977.557010
1675         Yemen, Rep.      Asia  1987   52.922  11219340   1971.741538
1676         Yemen, Rep.      Asia  1992   55.599  13367997   1879.496673
1677         Yemen, Rep.      Asia  1997   58.020  15826497   2117.484526
1678         Yemen, Rep.      Asia  2002   60.308  18701257   2234.820827
1679         Yemen, Rep.      Asia  2007   62.698  22211743   2280.769906

[396 rows x 6 columns]

In [15]:
data[
    (data['continent']=='Asia') & (data['year'] >= 1952) & (data['year'] <= 2000)
]

                 country continent  year  lifeExp        pop     gdpPercap
0            Afghanistan      Asia  1952   28.801    8425333    779.445314
1            Afghanistan      Asia  1957   30.332    9240934    820.853030
2            Afghanistan      Asia  1962   31.997   10267083    853.100710
3            Afghanistan      Asia  1967   34.020   11537966    836.197138
4            Afghanistan      Asia  1972   36.088   13079460    739.981106
5            Afghanistan      Asia  1977   38.438   14880372    786.113360
6            Afghanistan      Asia  1982   39.854   12881816    978.011439
7            Afghanistan      Asia  1987   40.822   13867957    852.395945
8            Afghanistan      Asia  1992   41.674   16317921    649.341395
9            Afghanistan      Asia  1997   41.763   22227415    635.341351
84               Bahrain      Asia  1952   50.939     120447   9867.084765
85               Bahrain      Asia  1957   53.832     138655  11635.799450
86               Bahrain      Asia  1962   56.923     171863  12753.275140
87               Bahrain      Asia  1967   59.923     202182  14804.672700
88               Bahrain      Asia  1972   63.300     230800  18268.658390
89               Bahrain      Asia  1977   65.593     297410  19340.101960
90               Bahrain      Asia  1982   69.052     377967  19211.147310
91               Bahrain      Asia  1987   70.750     454612  18524.024060
92               Bahrain      Asia  1992   72.601     529491  19035.579170
93               Bahrain      Asia  1997   73.925     598561  20292.016790
96            Bangladesh      Asia  1952   37.484   46886859    684.244172
97            Bangladesh      Asia  1957   39.348   51365468    661.637458
98            Bangladesh      Asia  1962   41.216   56839289    686.341554
99            Bangladesh      Asia  1967   43.453   62821884    721.186086
100           Bangladesh      Asia  1972   45.252   70759295    630.233627
101           Bangladesh      Asia  1977   46.923   80428306    659.877232
102           Bangladesh      Asia  1982   50.009   93074406    676.981866
103           Bangladesh      Asia  1987   52.819  103764241    751.979403
104           Bangladesh      Asia  1992   56.018  113704579    837.810164
105           Bangladesh      Asia  1997   59.412  123315288    972.770035
...                  ...       ...   ...      ...        ...           ...
1644             Vietnam      Asia  1952   40.412   26246839    605.066492
1645             Vietnam      Asia  1957   42.887   28998543    676.285448
1646             Vietnam      Asia  1962   45.363   33796140    772.049160
1647             Vietnam      Asia  1967   47.838   39463910    637.123289
1648             Vietnam      Asia  1972   50.254   44655014    699.501644
1649             Vietnam      Asia  1977   55.764   50533506    713.537120
1650             Vietnam      Asia  1982   58.816   56142181    707.235786
1651             Vietnam      Asia  1987   62.820   62826491    820.799445
1652             Vietnam      Asia  1992   67.662   69940728    989.023149
1653             Vietnam      Asia  1997   70.672   76048996   1385.896769
1656  West Bank and Gaza      Asia  1952   43.160    1030585   1515.592329
1657  West Bank and Gaza      Asia  1957   45.671    1070439   1827.067742
1658  West Bank and Gaza      Asia  1962   48.127    1133134   2198.956312
1659  West Bank and Gaza      Asia  1967   51.631    1142636   2649.715007
1660  West Bank and Gaza      Asia  1972   56.532    1089572   3133.409277
1661  West Bank and Gaza      Asia  1977   60.765    1261091   3682.831494
1662  West Bank and Gaza      Asia  1982   64.406    1425876   4336.032082
1663  West Bank and Gaza      Asia  1987   67.046    1691210   5107.197384
1664  West Bank and Gaza      Asia  1992   69.718    2104779   6017.654756
1665  West Bank and Gaza      Asia  1997   71.096    2826046   7110.667619
1668         Yemen, Rep.      Asia  1952   32.548    4963829    781.717576
1669         Yemen, Rep.      Asia  1957   33.970    5498090    804.830455
1670         Yemen, Rep.      Asia  1962   35.180    6120081    825.623201
1671         Yemen, Rep.      Asia  1967   36.984    6740785    862.442146
1672         Yemen, Rep.      Asia  1972   39.848    7407075   1265.047031
1673         Yemen, Rep.      Asia  1977   44.175    8403990   1829.765177
1674         Yemen, Rep.      Asia  1982   49.113    9657618   1977.557010
1675         Yemen, Rep.      Asia  1987   52.922   11219340   1971.741538
1676         Yemen, Rep.      Asia  1992   55.599   13367997   1879.496673
1677         Yemen, Rep.      Asia  1997   58.020   15826497   2117.484526

[330 rows x 6 columns]

In [16]:
_['pop'].mean()

69980539.0030303