In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame( [
                    ['Java', 'Alice', 66, 77, 88],
                    ['Python','Alice',56, 77, 88],
                    ['Java', 'Bob', 89, 53, 56],
                    ['Python','Bob',56, 88, 99],
                    ['Java', 'Bo', 22, 56, 66],
                    ['Python','Sam',89, 99, 88]
                    ], columns = ['class', 'student', 'exam1', 'exam2', 'exam3'])
df

    class student  exam1  exam2  exam3
0    Java   Alice     66     77     88
1  Python   Alice     56     77     88
2    Java     Bob     89     53     56
3  Python     Bob     56     88     99
4    Java      Bo     22     56     66
5  Python     Sam     89     99     88

The final grade is the average of the best two exam
- What is the final grade of each student
- What is the average final grade of each class
- What students did better than the average in each class
- What students did better than the average in both classes