In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/gapminder.tsv', sep='\t')

In [3]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

0- run descriptive statistics on data

In [4]:
data.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

1- what is the average lifeExp per continent

In [5]:
data.groupby('continent')['lifeExp'].mean()

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

2- what is the average lifeExp per continent per year

In [6]:
data.groupby(['continent', 'year'])['lifeExp'].mean()

continent  year
Africa     1952    39.135500
           1957    41.266346
           1962    43.319442
           1967    45.334538
           1972    47.450942
           1977    49.580423
           1982    51.592865
           1987    53.344788
           1992    53.629577
           1997    53.598269
           2002    53.325231
           2007    54.806038
Americas   1952    53.279840
           1957    55.960280
           1962    58.398760
           1967    60.410920
           1972    62.394920
           1977    64.391560
           1982    66.228840
           1987    68.090720
           1992    69.568360
           1997    71.150480
           2002    72.422040
           2007    73.608120
Asia       1952    46.314394
           1957    49.318544
           1962    51.563223
           1967    54.663640
           1972    57.319269
           1977    59.610556
           1982    62.617939
           1987    64.851182
           1992    66.537212
           1997    68.020515
           2002    69.233879
           2007    70.728485
Europe     1952    64.408500
           1957    66.703067
           1962    68.539233
           1967    69.737600
           1972    70.775033
           1977    71.937767
           1982    72.806400
           1987    73.642167
           1992    74.440100
           1997    75.505167
           2002    76.700600
           2007    77.648600
Oceania    1952    69.255000
           1957    70.295000
           1962    71.085000
           1967    71.310000
           1972    71.910000
           1977    72.855000
           1982    74.290000
           1987    75.320000
           1992    76.945000
           1997    78.190000
           2002    79.740000
           2007    80.719500
Name: lifeExp, dtype: float64

In [7]:
#optional, unstack to show in a table
_.unstack('year')

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
continent,,,,,,,,,,,,
Africa,39.135500,41.266346,43.319442,45.334538,47.450942,49.580423,51.592865,53.344788,53.629577,53.598269,53.325231,54.806038
Americas,53.279840,55.960280,58.398760,60.410920,62.394920,64.391560,66.228840,68.090720,69.568360,71.150480,72.422040,73.608120
Asia,46.314394,49.318544,51.563223,54.663640,57.319269,59.610556,62.617939,64.851182,66.537212,68.020515,69.233879,70.728485
Europe,64.408500,66.703067,68.539233,69.737600,70.775033,71.937767,72.806400,73.642167,74.440100,75.505167,76.700600,77.648600
Oceania,69.255000,70.295000,71.085000,71.310000,71.910000,72.855000,74.290000,75.320000,76.945000,78.190000,79.740000,80.719500

3- what is the average length of country name per continent and year

In [12]:
# solution 1: create a new col, then use built-in mean function
data['country_len'] = data['country'].apply(len)
data.groupby(['continent', 'year'])['country_len'].mean()

continent  year
Africa     1952     8.307692
           1957     8.307692
           1962     8.307692
           1967     8.307692
           1972     8.307692
           1977     8.307692
           1982     8.307692
           1987     8.307692
           1992     8.307692
           1997     8.307692
           2002     8.307692
           2007     8.307692
Americas   1952     8.480000
           1957     8.480000
           1962     8.480000
           1967     8.480000
           1972     8.480000
           1977     8.480000
           1982     8.480000
           1987     8.480000
           1992     8.480000
           1997     8.480000
           2002     8.480000
           2007     8.480000
Asia       1952     8.242424
           1957     8.242424
           1962     8.242424
           1967     8.242424
           1972     8.242424
           1977     8.242424
           1982     8.242424
           1987     8.242424
           1992     8.242424
           1997     8.242424
           2002     8.242424
           2007     8.242424
Europe     1952     8.333333
           1957     8.333333
           1962     8.333333
           1967     8.333333
           1972     8.333333
           1977     8.333333
           1982     8.333333
           1987     8.333333
           1992     8.333333
           1997     8.333333
           2002     8.333333
           2007     8.333333
Oceania    1952    10.000000
           1957    10.000000
           1962    10.000000
           1967    10.000000
           1972    10.000000
           1977    10.000000
           1982    10.000000
           1987    10.000000
           1992    10.000000
           1997    10.000000
           2002    10.000000
           2007    10.000000
Name: country_len, dtype: float64

In [10]:
# solution 2: write a custom aggregation function
def my_agg(series_of_string):
    lengths_of_string = [len(s) for s in series_of_string]
    return sum(lengths_of_string) / len(lengths_of_string)

# test the function
my_agg(["US", "UK"]) #should be 2

2.0

In [11]:
data.groupby(['continent', 'year'])['country'].aggregate(my_agg)

continent  year
Africa     1952     8.307692
           1957     8.307692
           1962     8.307692
           1967     8.307692
           1972     8.307692
           1977     8.307692
           1982     8.307692
           1987     8.307692
           1992     8.307692
           1997     8.307692
           2002     8.307692
           2007     8.307692
Americas   1952     8.480000
           1957     8.480000
           1962     8.480000
           1967     8.480000
           1972     8.480000
           1977     8.480000
           1982     8.480000
           1987     8.480000
           1992     8.480000
           1997     8.480000
           2002     8.480000
           2007     8.480000
Asia       1952     8.242424
           1957     8.242424
           1962     8.242424
           1967     8.242424
           1972     8.242424
           1977     8.242424
           1982     8.242424
           1987     8.242424
           1992     8.242424
           1997     8.242424
           2002     8.242424
           2007     8.242424
Europe     1952     8.333333
           1957     8.333333
           1962     8.333333
           1967     8.333333
           1972     8.333333
           1977     8.333333
           1982     8.333333
           1987     8.333333
           1992     8.333333
           1997     8.333333
           2002     8.333333
           2007     8.333333
Oceania    1952    10.000000
           1957    10.000000
           1962    10.000000
           1967    10.000000
           1972    10.000000
           1977    10.000000
           1982    10.000000
           1987    10.000000
           1992    10.000000
           1997    10.000000
           2002    10.000000
           2007    10.000000
Name: country, dtype: float64

4- what are the countries in which the averalge lifeExp over their observations is greater than 75 years

In [14]:
# approach-1, transform each country lifeExp to a boolean by comparing
# the group mean to 75, 
# the resulting series is a mask that can be used to filter
# the data
mask = data.groupby('country')['lifeExp'].transform(lambda x: x.mean() > 75)
mask.head()

0    False
1    False
2    False
3    False
4    False
Name: lifeExp, dtype: bool

In [16]:
set(data[mask].country)

{'Iceland', 'Netherlands', 'Norway', 'Sweden', 'Switzerland'}

In [18]:
# approach-2, calculate the average lifeExp per country,
# then filter the resulting series
avg_life = data.groupby('country')['lifeExp'].mean()
mask2 = avg_life > 75
avg_life[mask2]

country
Iceland        76.511417
Netherlands    75.648500
Norway         75.843000
Sweden         76.177000
Switzerland    75.565083
Name: lifeExp, dtype: float64

In [19]:
set(_.index)

{'Iceland', 'Netherlands', 'Norway', 'Sweden', 'Switzerland'}